html
  head 
    title='Node Dockerized'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World, test App with Docker
        p Please see my repo.
        p
          a.btn.btn-primary(href='https://github.com/whaangbuu') My Repo
        p